body {
    background: rgb(63,94,251);
    background: linear-gradient(180deg, #a941b0 0%, #f994ff 100%);
    background-attachment: fixed;
    margin: 0;
}

/*Center the content on the page.*/
#page {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 8px double red;
    max-width: 80%;
    background-color: black;
    color: #fff973;
    overflow: auto;
    padding: 10px;
}

/*Center the rules section of the page and put a border around it so it is easy to see and distinguish.*/
.rules {
    border: 4px dotted red;
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-top: 25px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

ul {
    display: inline-block;
}

.inner {
    padding: 0;
    margin-right: 150px;
}

li {
    text-align: left;
    padding-bottom: 10px;
}

/*Emphasize the limits imposed on the user for inputs.*/
em {
    font-weight: bold;
    color: white;
}

/*Set up the form and table to be side by side. Sets the form to the left side with some basic margins to make it look nicer and add a border.*/
form {
    float: left;
    border: 1px solid red;
    width: 12.5%;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: 25px;
    height: 50%;
    min-width: 200px;
    text-align: center;
    background-color: black;
    color: #fff973;
}

/*Makes this become a scrollable container set within a certain, designated area within the page.*/
table {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 5px;
    display: block;
    height: 350px;
    width: 99%;
    overflow: auto;
    text-align: center;
    table-layout: fixed;
    border-collapse: separate;
}

td, th {
    border: 1px solid white;
    width: 35px;
}

.side {
    position: sticky;
    left: 0;
    background-color: #000000;
}

.top {
    position: sticky;
    top: 0;
    background-color: #000000;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}

input {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
    Styling the table to be a checkered style. The outer row and column are a different, uniform color.
    I approached this by selecting the 2, 4, 6, 8, etc. tr then the 2, 4, 6, 8, etc. td and changing that color.
    I do the same with the 3, 5, 7, 9, etc. tr and 3, 5, 7, 9, etc. td and changing that to the same color, giving the alternating effect.
    Finally, I do the exact opposite to get the 2nd color.
*/
tr:nth-child(2n + 2) td:nth-child(2n + 2), 
tr:nth-child(2n + 3) td:nth-child(2n + 3)
{
    background-color: #f994ff;
    color: black;
}

tr:nth-child(2n + 2) td:nth-child(2n + 3), 
tr:nth-child(2n + 3) td:nth-child(2n + 2)
{
    background-color: #a941b0;
    border: 1px solid white;
    color: black;
}

tr:nth-child(1), td:nth-child(1) {
    background-color: #000000;
    color: #fff973;
    border: 1px solid white;
}